* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* try redoing this with the self check and not using 
grid-template-areas? */


.container {
  text-align: center;
  /* */
  
  /* height: 100%; */
  display: grid;
  grid-template-areas: "header header header header"
  "sidebar nav nav nav"
  "sidebar article article article"
  "sidebar article article article"
  "sidebar article article article"
  "footer footer footer footer"
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  /* */
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.logo {
  
  align-self: center;
  margin-right: auto;
}

/*menu all my additions */
.menu {
  display: grid;
  border: 1px solid pink;
  margin-left: auto;
}

.menu ul {
    /* */
    display: grid;
    
    grid-template-columns: repeat(4, minmax(150px, 270px));
    /*grid-template-columns: 1fr 1fr 1fr 1fr; - changing this
    to use minmax instead as the space between headers is
    too large when full screen*/

    /*look at how to make the spaces between the header link one
    boxes smaller using minmax? */
}

/*my additions */
ul {
  list-style-type: none;
}

/* */
.menu ul {
  /*justify-self: center;*/
  align-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  
  /* */
  grid-area: sidebar;
  /* border: 4px solid purple; */

  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-template-rows: repeat(4, minmax(150px, 180px));
  gap: 15px;
  
  

  
  
  
  /* display: inline-grid; */
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

/* */
.photo {
 /* display: grid; */
 /* align-items: center; */
 border: 3px solid blue;
}

/*
.photo p {
  align-self: center;
  justify-self: center;
}  */

/* */
.sidebar * {
  /*border: 2px solid turquoise; */
  /* centering text inside the grid items */
  display: grid;
  align-items: center;
  justify-items: center;
  
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  
}

.nav {
  background-color: #FF7755;

  /* */
  height: 65px;
  grid-area: nav;
  display: grid;
  align-items: center;
  /*display: inline-grid; */
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;

  /*display: inline-grid; */
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  /* */
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  /* */
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
